.wrapper {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.content {
  width: 1280px;
  height: 720px;
  background-color: rgb(245, 245, 245);
  vertical-align: center;
  border-radius: 5px;
  position: relative;
}

.background {
  object-fit: contain;
  position: absolute;
  width: 100%;
  height: 100%;
}

.form__wrapper {
  margin-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 72px 48px;

  position: absolute;
  width: 380px;
  height: 100%;
  left: 0px;
  top: -1px;

  background: #86D3F4;

  box-sizing: border-box;
  z-index: 2;
}


.form__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
  gap: 13px;
}

.nums {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: auto 0;
}

.nums button {
  height: 48px;
  border: solid 2px black;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background-color: inherit;
}

.activeButton {  
  color: white;
  background-color: black !important;
}
.nums button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  border: solid 2px black;
  border-radius: 0;
}

.nums button:focus {
background-color: rgb(0, 0, 0);
color: white;
border: solid 2px black;
border-radius: 0;
}

.backSpace {
  grid-column: span 2;
}

.header {
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
}

.phone {
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  background-color: inherit;
  border: none;
  width: 100%;
  text-align: center;
}

.desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.agreement {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  height: 52px;
}

.customcheckbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.customcheckbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.customcheckbox+label::before {
  content: '';
  display: inline-block;
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #000000;
  margin-right: 10px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.customcheckbox:checked+label::before {
  background-image: url("../Assets/check.svg");
  box-shadow: 0 0 0 3PX  rgb(0, 0, 0);
}

/* стили при наведении курсора на checkbox */
.customcheckbox:not(:disabled):not(:checked)+label:hover::before {

  box-shadow: 0 0 0 3PX  rgb(0, 0, 0);
  border: 2px solid #000000;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.customcheckbox:not(:disabled):active+label::before {
  background-color: #b3d7ff;

  border: 2px solid #000000;
}
/* стили для чекбокса, находящегося в фокусе */
.customcheckbox:focus+label::before {
  box-shadow: 0 0 0 3PX  rgb(0, 0, 0);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.customcheckbox:focus:not(:checked)+label::before {
  box-shadow: 0 0 0 3PX  rgb(0, 0, 0);
}

.agreement p {
  font-weight: normal;
  font-size: 14px;
  color: #565656;
}

.sumbit {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 19px;
  cursor: pointer;

  background-color: #000000;
  border: solid 2px #000000;
  color: #fffbfb;
}

.sumbit:disabled {
  color: #4E4E4E;
  background-color: inherit;
  border: solid 2px #4E4E4E;
}

.closeButton {
  background-image: url("../Assets/closeButton.svg");
  z-index: 5;
  width: 88px;
  height: 52px;
  position: absolute;  
  top: 20px;
  right: 20px;
  border: 0;
}

.closeButton:hover, .closeButton:focus {  
  background-image: url("../Assets/closeButtonHover.svg");
}