.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 1280px;
  height: 720px;
  background-color: rgb(245, 245, 245);
  vertical-align: center;
  border-radius: 5px;
  box-shadow: 0 0 200px 0px rgb(214, 214, 214);
}

video {
  height: 100%;
  width: 100%;
}